{% extends '_base.html' %}

{% load static %}

{% block content %}
  <div class="flex justify-between">
    <h3>Savat</h3>
    <button>
      <img src="{% static 'assets/icons/trash-2.svg' %}">
    </button>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var now = new Date();
        var dateTimeString = now.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) + ', ' + now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });
        document.getElementById('datetime').innerText = dateTimeString;
    });
  </script>
{% endblock content %}
