{% extends '_base.html' %}

{% load static %}

{% block content %}

<div class="pb-16">
  <div class="relative">
    <img src="{{ product.image.url }}">
    <a href="{% url 'product_list' %}" class="border rounded-full p-2 shadow shadow-black absolute left-4 top-4 bg-white">
      <img class="w-5" src="{% static 'assets/icons/x.svg' %}" alt="X">
    </a> <!-- need to be absolute when scrolled -->
    <button class="border rounded-full p-2 shadow shadow-black absolute right-4 top-4 bg-white">
      <img class="w-5" src="{% static 'assets/icons/cart.svg' %}" alt="X">
    </button>
  </div> 
  <div class="p-4">
    <span class="text-xl font-medium">{{ product.title }} {{ product.weight }} g</span>
    <div class="flex justify-between items-baseline mt-2 mb-4">
      <span class="font-bold">{{ product.price }} UZS <span class="font-medium">/ 1&nbsp;dona</span></span>
      <span class="text-sm text-right">{{ product.count }} ta mavjud</span>
    </div>
    <span class="text-slate-600 font-medium">{{ product.description }}</span>
  </div> 

</div>
<div class="fixed inset-x-0 bottom-0 w-full flex justify-between items-center border bg-white py-2 px-4">
  <!-- if it is = 0, then just show "Savatga" button -->
  <div class="flex items-center justify-between border border-black rounded-md flex-1 h-14 mr-2 py-0.5">
    <button>
      <img class="pl-3 pr-1" src="{% static 'assets/icons/minus.svg' %}" alt="Minus">
    </button>
    <span class="text-center text-lg leading-6">4 dona</span> <!-- if it is "optom", then show "kg" instead of "dona" -->
    <button>
      <img class="pr-3 pl-1" src="{% static 'assets/icons/plus.svg' %}" alt="Plus">
    </button>
  </div>
  <a href="#" class="flex flex-col items-center justify-center text-white bg-black py-0.5 border border-black rounded-md flex-1 h-14">
    <span class="text-lg leading-6 font-medium">Savatga</span>
    <span class="text-xs font-light">O'tish</span>
  </a>
</div>

{% endblock content %}
