{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="wrapper-check">
        <section class="section-check">
            <div class="container">
                <div class="section-check-box">
                    <h1 class="mb-5 text-about">Buyurtmangiz: <span>
                        <a href="{% url "product_list" %}">Uzgartirish</a></span></h1>
                    <div class="savatcha-box">
                        <div class="savatcha-left">
                            {% for item in cart %}
                                {% with product=item.product %}
                                    <div class="section-cart">
                                        <div class="section-cartBox">
                                            <div>
                                                <img src="
                                                    {% if product.image %}
                                                        {{ product.image.url }}
                                                    {% else %}
                                                        {% static "assets/images/no_image.png" %}
                                                    {% endif %}" alt="cart-img" class="cart-imgSavatcha">
                                            </div>
                                            <div class="texts-box">
                                                <h1>{{ product.name }}<span> {{ product.weight }} kg</span> {{ product.price }} <span>so'mdan</span></h1>
                                            </div>
                                        </div>
                                        <div class="results-box d-flex justify-content-between results-check">
                                            <h3 class="result">{{ item.quantity }} ta</h3>
                                            <a href="{% url "cart_remove" product.id %}">Remove</a>
                                            <div>
                                                <h1 class="price">{{ item.total_price }} so'm</h1>
                                            </div>
                                        </div>
                                    </div>
                                {% endwith %}
                            {% endfor %}
                        </div>
                        <div class="savatcha-right">
                            <h1 class="text-about">Umumiy</h1>
                            <div>
                                Mahsulotlar
                                <span>{{ cart.get_total_price }} so'm</span>
                            </div>
                            <div class="yetkazib-div">
                                Yetkazib berish
                                <span>0 so`m</span>
                            </div>
                            <div class="yetkazib-div">
                                To'lash uchun
                                <span>{{ cart.get_total_price }} so'm</span> {% comment %} CHECKOUT: delivery + products {% endcomment %}
                            </div>
                            <a href="#" class="btn tolov-btn">To'lov sahifasiga o'tish</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}