{% extends "base.html" %}
{% load static %}
{% block main %}
    <div class="wrapper-check d-flex flex-column">
        <div class="order-header text-white">  <!-- need to be fixed at the top -->
            <div class="container py-4">
                <div class="d-flex justify-content-between mb-2">
                    <h3 class="my-fs-2 fw-normal">Savatingiz</h3>
                    <h2 class="my-fs-1" data-value-type="price">{{ cart.get_total_price }} so'm</h2>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <h6 id="datetime" class="my-fs-5 fw-normal"></h6>
                    <a class="my-btn d-inline-flex align-items-center my-fs-4" href="{% url "product_list" %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/></svg>
                        &nbsp;O'zgartirish
                    </a>
                </div>
            </div>
        </div>
        <div class="order-list mt-4">
            <div class="container">
                <table class="table-products">
                    <tr>
                      <th>Mahsulot</th>
                      <th>Son</th>
                      <th>Narx</th>
                    </tr>
                    {% for item in cart %}
                        {% with product=item.product %}
                            <tr class="my-fs-3">
                                <td>
                                    <div class="cart-info">
                                        <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static "assets/images/no_image.png" %} {% endif %}" alt="" />
                                        <div>
                                            <p>{{ product.name }} <span class="my-fs-4" style="color: #9a9b9c;">{{ product.weight }}&#8239;kg</span></p>
                                            <span style="font-size: calc(0.84rem + 0.32vw);" data-value-type="price">{{ item.price }} so'm</span>
                                            <br />
                                            <a class="my-fs-4" href="{% url "cart_remove" product.id %}">O'chirish</a>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ item.quantity }} ta</td>
                                <td data-value-type="price">{{ item.total_price }} so'm</td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="order-footer">
            <div class="container">
                <a class="my-btn d-inline-flex align-items-center my-fs-4" href="{% url "product_list" %}">
                    To'lov sahifasiga o'tish
                </a>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var now = new Date();
            var dateTimeString = now.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) + ', ' + now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });
            document.getElementById('datetime').innerText = dateTimeString;
        });
    </script>
{% endblock %}